<div class="menu">
  <h1 class="menu-title"><span class="mrw-letter"> <i class="mrw-atom">5</i>B</span>locks <span class="mrw-letter"> <i class="mrw-atom">24</i>Cr</span>eator</h1>
    <ul class="menu-content">
      <li [routerLink]="['/block-list']" [routerLinkActive]="'is-active'" class="menu-item">
        <mat-icon style="margin-right: 5px"  aria-hidden="false" aria-label="Example home icon">create_new_folder
        </mat-icon>
        Blocks
      </li>

      <li [routerLink]="['/partials']" [routerLinkActive]="'is-active'" class="menu-item">
        <mat-icon style="margin-right: 5px"  aria-hidden="false" aria-label="Example home icon">create_new_folder
        </mat-icon>
        Partials
      </li>
    </ul>
</div>
